
body {
      font-family: Arial, sans-serif;
      background-color: #8ab6e7; 
      margin: 0;
      padding: 0;
  }
  
  /* Center align container */
  .graph-container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #FFFFFF;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Title */
  h1 {
      color: #004080; 
      font-size: 2.5em;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
  }
  
  /*subtitle*/
  h2 {
      color: #007ACC;
      font-size: 1.5em;
      font-weight: normal;
      text-align: center;
      margin: 10px 0;
  }
  
  /* Chart styling */
  #summary-bar-chart .plotly-graph {
      height: 400px;
  }
  
  /* Adjusting font color in the graph labels */
  .graph-container .plotly-graph .xtick > text,
  .graph-container .plotly-graph .ytick > text {
      fill: #004080; /* Dark blue for axis labels */
  }

  .graph-container .plotly-graph .bartext {
      font-size: 14px;
      font-weight: bold;
      fill: #004080; /* Dark blue text */
  }
  
  .text-center {
      text-align: center;
  }
  